.bg-main {
    background-color: $color-main !important;
}

.bg-black {
    background-color: black !important;
}

.color-main {
    color: $color-main !important;
}

.color-white {
    color: white !important;
}
