/*
|--------------------------------------------------------------------------
| Typography
|--------------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: 'Open Sans', sans-serif;
$font-weight-base: 400;
$font-size-base: 1rem;
$line-height-base: 1.6;
